/* HTML TAGS */
.hLine{

	border: 3px solid;
	width: 75%;
	color: #E0E0E0;
}

body{background-color: #f8f8f8 !important;}
*{font-family: 'Ubuntu', sans-serif;}
a:hover, a:visited {text-decoration: none !important;}

/* ! IMPORTANT */

.navbar{margin-bottom: 0px !important;}
.navbar-default{border-bottom: 1px #CFD8DC solid !important;}

.navbar-brand{
	height: auto !important;
    padding: 10px 4px !important;
}


/* SINGLES */
.paddingTop2em{padding-top: 2em;}
.paddingTop5px{padding-top: 5px;}
.width30P{width: 30% !important ;}
.bodyWidth{width: 80%;}
.disablePaddingRight{padding-right: 0px !important;}
.height680px{height: 620px;}


