/*MAP VIEW*/

#map {

    height: 97% !important;
    display: block;
	height: 100%;
	border: 1px #00897b solid;
}

.israelMap{

	border: 2px solid #00BFA5;
    margin-top: 57px;
    height: 650px;
}

.upperMap{

	   background: #00897b;
	   border-radius: 4px; 
}

.mapTittle{

	color: #fff;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px;
}

.filterTittle{

	color: #607D8B;
	padding: 5px;
    font-size: 18px;

}

.containerMap{

	height: 680px;
}

.containerBig{

	margin: 15px;
	background-color: #fff;
	border: 1px solid #e8e8e8;
}

.mapHeight{

	height: 420px;
	padding-top: 8px;
}

/*FOOTER*/

/*.footerStickBottom{

    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
}
*/
.footer{

	margin: 15px;
	background-color: #FAFAFA;
	border: 1px solid #e8e8e8;

}

.footer-text{

    text-align: center;
    font-size: 14px;
    padding-top: 5px;
}


/*NAV & MENU*/
.custom-nav{

	margin-bottom:0px !important;
	border-top: 1px solid #e8e8e8;
}

.menuDecoration{

	padding-left: 15px;
	padding-right: 13px;
	border-right: 1px solid #00897b;
}


/*LOGIN VIEW*/
.loginBar{

	font-weight: bold;
	color: #00897b !important;
}

.loginBar:hover{

	color: #333 !important;
}

.rightNumberForm{
    float: right !important;
    width: 75% !important;
}

.leftLabelForm{

	float: left !important;
	padding-top: 6px !important;
	color: #00897b;
	font-size: 12px;
}

.formBox {
    
    margin: auto;
    margin: : 15px;
}



.loginPage{

	height: 100%;
    background-color: #f8f8f8;
}

.connectButton{

	background: #028a7c;
    color: white;
}

.connectButton:hover{
	
	background: #02aa7c;
	color: white !important;
}

.insertButton{

	background: #028a7c;
    color: white;
}

.insertButton:hover{
	
	background: #02aa7c;
	color: white !important;
}


.addMoreCoordinateText{

	float: right;
	padding-top: 6px !important;
	color: #00897b;
}

.loginTittle{

	font-weight: bold;
}


.navbar-text-pand-right{

	right: 100%;
    position: relative;
}

.itmTittle{
    font-weight: bold;
    color: grey;
    font-size: 10px;
    left: 3%;
    position: relative;
    margin-bottom: 4px
}

/*FILTERS*/
.filterText{

    color: #9E9E9E;
    font-size: 13px;
    left: 3%;
    position: relative;
    margin-bottom: 4px;
}

.filterBoxBig{
	margin: 5px;
}

.filterBoxSmall{
	margin: 8px;
}

.filter-control{
	
    height: 34px;
    padding: 6px 6px;
    font-size: 12px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.width50px{width: 60px !important;}
.paddingTop4px{padding-top: 4px !important;}
.goBold{font-weight: bold;}


.filterSmallSymbols{
	color: #9E9E9E;
    font-weight: bold;
    font-size: 12px;
    top: 5px;
    position: relative;
}

.posRelTop5{position: relative;top: 5px;}

.one{
	
	color:#9E9E9E;
	position: relative;
	top: 5px;
	font-size: 12px;
}