/*MAP VIEW*/

#map {

    height: 97% !important;
    display: block;
	height: 100%;
	border: 1px #00897b solid;
}

.israelMap{

	border: 2px solid #00BFA5;
    margin-top: 57px;
    height: 650px;
}

.upperFilter {
	background: #00897b;
	border-radius: 4px;
}

.upperMap{
	background: #00897b;
	border-radius: 4px;
}

.mapTittle{
	color: #fff;
    font-size: 15px;
    margin-top: 10px;
    padding: 15px;
}

.filterTittle{
	color: #fff;
	font-size: 15px;
	margin-top: 10px;
	padding: 15px;

}

.table-row {
	margin-top:15px;
	max-height: 80%;
}

.scale-filter{
	border-radius: 0 4px 4px 0;
	border-right: 1px solid #9E9E9E !important;
	border-top: 1px solid #9E9E9E !important;
	border-bottom: 1px solid #9E9E9E !important;
	border-left:none !important;
	color: #9E9E9E !important;
	height: 34px;
	padding: 6px 0;
	font-size: 14px;
	max-width: 115px;
}

.filters-button {
	min-width: 120px;
}

.filter-input{
	color: #9E9E9E !important;
	border: 1px solid #9E9E9E !important;
	max-width: 60% !important;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	border-radius: 4px;
	min-width: 120px;
}

.scale-prefix{
	color: #9E9E9E !important;
	border-left: 1px solid #9E9E9E !important;
	border-top: 1px solid #9E9E9E !important;
	border-bottom: 1px solid #9E9E9E !important;
	height: 34px;
	padding: 8px 0 8px 5px;
	font-size: 14px;
	border-radius: 4px;
}

.no-padding {
	padding: 0;
}

.containerMap{

	height: 680px;
}

.containerBig{

	margin: 15px;
	background-color: #fff;
	border: 1px solid #e8e8e8;
}

.mapHeight{

	height: 420px;
	padding-top: 8px;
}

/*FOOTER*/

/*.footerStickBottom{

    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
}
*/
.footer{

	margin: 15px;
	background-color: #FAFAFA;
	border: 1px solid #e8e8e8;

}

.footer-text{

    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}


/*NAV & MENU*/
.custom-nav{

	margin-bottom:0px !important;
	border-top: 1px solid #e8e8e8;
}

.menuDecoration{

	padding-left: 15px;
	padding-right: 13px;
	border-right: 1px solid #00897b;
}


/*LOGIN VIEW*/
.loginBar{

	font-weight: bold;
	color: #00897b !important;
}

.loginBar:hover{

	color: #333 !important;
}

.rightNumberForm{
    float: right !important;
    width: 75% !important;
}

.leftLabelForm{

	float: left !important;
	padding-top: 6px !important;
	color: #00897b;
	font-size: 12px;
	font-weight: 700;
}

.formBox {
    
    margin: auto;
    margin: 15px;
}



.loginPage{

	height: 100%;
    background-color: #f8f8f8;
}

.connectButton{

	background: #028a7c;
    color: white;
}

.connectButton:hover{
	
	background: #02aa7c;
	color: white !important;
}

.insertButton{

	background: #028a7c;
    color: white;
}

.insertButton:hover{
	
	background: #02aa7c;
	color: white !important;
}


.addMoreCoordinateText{

	float: right;
	padding-top: 6px !important;
	color: #00897b;
}

.loginTittle{

	font-weight: bold;
}


.navbar-text-pand-right{

	right: 100%;
    position: relative;
}

.itmTittle{
    font-weight: bold;
    color: grey;
    font-size: 10px;
    left: 3%;
    position: relative;
    margin-bottom: 4px
}

.download-modal-header {
	background: #00897b;
	color: white !important;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

  form.tab-form-demo .tab-pane {
    margin: 20px 20px;
  }