/* app css stylesheet */

h1{
	font-family: 'Roboto light', sans-serif;
	margin-left: 8px;
}

h2{
		font-family: 'Roboto', sans-serif;
		margin-left: 8px;

}

body{

	background-color: #EEEEEE;
}

.telhaiLogo{

	float: right;
}

.height30px{

	height: 8px;
	background-color: #65a739;
}

.googleMap{
	margin: 5px;
	float: right;
	width: 58%;
	border: 5px solid #65a739;
	height: 750px;
}

.height600px{

	height: 600px;
}

.mapFilters{

	float: left;
	width: 40%;
	/*background-color: #E8F5E9;*/

}

.borderBottom50p{

	border-bottom: 8px solid;
	max-width: 50%;
	padding-top: 5px;

}

      #map {
        height: 100%;
      }