/*MAP VIEW*/

#map {

    height: 97% !important;
    display: block;
	height: 100%;
	border: 1px #00897b solid;
}

.israelMap{

	border: 2px solid #00BFA5;
    margin-top: 57px;
    height: 650px;
}

.upperMap{

	   background: #00897b;
	   border-radius: 4px; 
}

.mapTittle{

    color: #fff;
    font-size: 15px;
    margin-top: 10px;
    padding: 15px;
}

.filterTittle{

	color: #607D8B;
	padding: 5px;
    font-size: 18px;

}

.containerMap{

	height: 680px;
}

.containerBig{

	margin: 15px;
	background-color: #fff;
	border: 1px solid #00897b;
}

.mapHeight{

	height: 440px;
	padding-top: 10px;
}

/*FOOTER*/

.footerStickBottom{

    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
}

.footer{

	margin: 15px;
	background-color: #FAFAFA;
	border: 1px solid #00897b;

}

.footer-text{

    text-align: center;
    font-size: 14px;
    padding-top: 5px;
}


/*NAV & MENU*/
.custom-nav{

	margin-bottom:0px !important;
	border-top: 1px solid #00897b;
}

.menuDecoration{

	padding-left: 15px;
	padding-right: 13px;
	border-right: 1px solid #00897b;
}


/*LOGIN VIEW*/
.loginBar{

	font-weight: bold;
	color: #00897b !important;
}

.loginBar:hover{

	color: #333 !important;
}

.rightNumberForm{
    float: right !important;
    width: 75% !important;
}

.leftLabelForm{

	float: left !important;
	padding-top: 6px !important;
	color: #00897b;
}



.form-control{

	color: #9E9E9E !important;
	border: 1px solid #9E9E9E !important;
}

.formBox {
    
    margin: auto;
    margin: : 15px;
}



.loginPage{

	height: 100%;
    background-color: #f8f8f8;
}

.connectButton{

	background: #028a7c;
    color: white;
}

.connectButton:hover{
	
	background: #02aa7c;
	color: white !important;
}

.insertButton{

	background: #028a7c;
    color: white;
}

.insertButton:hover{
	
	background: #02aa7c;
	color: white !important;
}


.addMoreCoordinateText{

	float: right;
	padding-top: 6px !important;
	color: #00897b;
}

.loginTittle{

	font-weight: bold;
}


.navbar-text-pand-right{

	right: 100%;
    position: relative;
}

