/* app css stylesheet */

body{

	background-color: #fff;
}


*{
	font-family: 'Ubuntu', sans-serif;

}

.bodyWidth{

	width: 80%; 
}



.israelMap{
	border: 2px solid #00BFA5;
    margin-top: 57px;
    height: 650px;
}


.mapTittle{

    color: #fff;
    padding: 10px;
    padding-bottom: 30px;
    padding-top: 20px;
    background: #00897b;
    font-size: 18px;
    margin-top: 10px;
}

.filterTittle{
	color: #607D8B;
	padding: 5px;
    font-size: 18px;

}

.containerMap{

	height: 680px;
}

.containerBig{

	margin: 15px;
	background-color: #FAFAFA;
	border: 1px solid #00897b;
}

.mapHeight{

	height: 550px;
}

.height600px{

	height: 600px;
}

.mapFilters{

	/*background-color: #E8F5E9;*/

}

#map {
	height: 100%;
}

.navbar-brand{
	height: auto !important;
    padding: 10px 4px !important;
}

.navbar-default{

	border-bottom: 1px #CFD8DC solid !important;
}

.footer{
	margin: 15px;
	background-color: #FAFAFA;
	border: 1px solid #00897b;

}

.custom-nav{
	margin-bottom:0px !important;
	border-top: 1px solid #00897b;
}

.footer-text{
	padding-top: 10px;
    text-align: center;
    font-size: 14px;
}

a:hover, a:visited {

	text-decoration: none !important;
}

.menuDecoration{

	padding-left: 15px;
	padding-right: 13px;
	border-right: 1px solid #00897b;
}