<div class="section" ng-controller="mapCntlr">
	<div class="container-fluid">
		<div class="row height680px col-xs-12 col-sm-12 col-md-12 col-lg-12 containerBig">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mapFilters">
				<div class="upperFilter">
					<p class="filterTittle">{{filterMessage}}</p>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-group btn-group-justified" role="group" aria-label="...">
						<a class="btn btnTelHai btn-primary" ng-click="Search()">
							<span class="glyphicon glyphicon-search"></span> Search
						</a>
						<a class="btn btnTelHai btn-warning"  ng-click="clearAll()">
							<span class="glyphicon glyphicon-trash"></span> Clear
						</a>	
					</div>
				</div>
				<div class="row" style="padding-top: 10px;">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<uib-tabset active="activeJustified" justified="true">
	    					<uib-tab index="0" heading="ITM-Israel Transverse Mercator">
								<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 disablePaddingRight" style="margin-top: 5px;">
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 smallTittle">North East:</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<label class="leftLabelForm">easting:</label>
						    		<input id="itmX1Id" value="" type="number" string-to-number class="form-control rightNumberForm" ng-model="itmX1Model" ng-change="updateValues('itm')" step="1000">	
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 disablePaddingRight">
									<label class="leftLabelForm">northing:</label>
						    		<input id="itmY1Id" value="" type="number" string-to-number class="form-control rightNumberForm" ng-model="itmY1Model" ng-change="updateValues('itm')" step="1000">	
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 smallTittle">South West:</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<label class="leftLabelForm">westing:</label>
								    		<input id="itmX2Id" value="" type="number" string-to-number class="form-control rightNumberForm" ng-model="itmX2Model" ng-change="updateValues('itm')" step="1000">	
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 disablePaddingRight">
											<label class="leftLabelForm">southing:</label>
								    		<input id="itmY2Id" value="" type="number" string-to-number class="form-control rightNumberForm" ng-model="itmY2Model" ng-change="updateValues('itm')" step="1000">	
										</div>
									</div>
								</div>
							</div>	    					
						</uib-tab>
	    					<uib-tab class="smallTittle" index="1" heading="WGS80-World Geocoding System">
		    					<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 disablePaddingRight" style="margin-top: 5px;">
		    						<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 smallTittle">North East:</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<label class="leftLabelForm">longitude:</label>
							    		<input id="wgsX1Id" value="" type="number" string-to-number class="form-control rightNumberForm" ng-model="wgsX1Model" ng-change="updateValues('wgs')" step="0.01">
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 disablePaddingRight">
										<label class="leftLabelForm">latitude:</label>
							    		<input id="wgsY1Id" value="" type="number" string-to-number class="form-control rightNumberForm" ng-model="wgsY1Model" ng-change="updateValues('wgs')" step="0.01">
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 smallTittle">South West:</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<label class="leftLabelForm">longitude:</label>
							    		<input id="wgsX2Id" value="" type="number" string-to-number class="form-control rightNumberForm" ng-model="wgsX2Model" ng-change="updateValues('wgs')" step="0.01">
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 disablePaddingRight">
										<label class="leftLabelForm">latitude:</label>
							    		<input id="wgsY2Id" value="" type="number" string-to-number class="form-control rightNumberForm" ng-model="wgsY2Model" ng-change="updateValues('wgs')" step="0.01">
									</div>
								</div>
							</uib-tab>
 						</uib-tabset>		
					</div>
				</div>
				<hr>
				<div class="row">
					<div>
						<p class="smallTittle">Please choose the search type:</p>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<form>
							<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
							  <label class="leftLabelForm" style="font-size: 14px;">
							    <input type="radio" ng-model="searchType" value="contained">
							    Contained
							  </label>
						  	</div>
							<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
							  <label class="leftLabelForm" style="font-size: 14px;">
							    <input  type="radio" ng-model="searchType" value="contains">
							    Contains
							  </label>
						  	</div>
						 </form>
					</div>
				</div>
				<hr>
				<div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 resultTittle" style="text-align: center;">
							<div ng-show="searchResults.length == 0">
							No Results Found	
							</div>
							<div  ng-show="searchResults.length > 49">
							Please narrow your search up to 50 results
							</div>
							<div  ng-show="searchResults.length > 0">
							Results Found: {{ searchResults.length }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
							<a ng-show="searchResults.length > 0" class="btn btnTelHai btn-success"  ng-click="openResults()" 	ng-disabled="searchResults.length === 0 || searchResults.length > 49">
								<span class="glyphicon glyphicon-ok">&nbsp</span>Show Results
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 containerMap">
				<div class="upperMap">
					<p class="mapTittle">Place the rectangle on the map or choose from the coordinates below</p>
				</div>
				<div>							
					<div class="mapHeight col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<map-canvas id="map"></map-canvas>
					</div>	
				</div>
			</div>
		</div>
	</div>
<!-- 	<p class="us paddL">*All the maps are taken from Tel-Hai Library</p>
 --></div>
