<div class="section">
	<div class="container">
		<div class="row height680px col-xs-12 col-sm-12 col-md-12 col-lg-12 containerBig">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mapFilters" ng-controller="tableController">
				<div class="upperFilter">
					<p class="filterTittle">{{filterMessage}}</p>
				</div>
				<div ng-if="gridOptions.data.length === 0">
					<a class="btn btn-success filters-button" style="background: #00897b; margin: 50% 40%; float: left;" ng-click="searchMaps()">
						<span class="glyphicon glyphicon-search"></span> Search
					</a>
				</div>
				<div ng-if="gridOptions.data.length !== 0">

				<!--<div class="row" style="margin-bottom: 10px; padding-left: 10px">-->
					<!--<div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 no-padding leftLabelForm">-->
						<!--Scale:-->
					<!--</div>-->
					<!--<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">-->
						<!--<span class="scale-prefix">1:<input class="scale-filter" string-to-number type="number" ng-model="minScaleFilter"-->
															<!--name="scaleMin" min="2500" max="1000000" step="500"></span>-->
					<!--</div>-->
					<!--<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">-</div>-->
					<!--<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">-->
						<!--<span class="scale-prefix">1:<input class="scale-filter" string-to-number type="number" name="scaleMax"-->
															<!--min="minScaleFilter" ng-model="maxScaleFilter"-->
															<!--max="1000000" step="500"></span>-->
					<!--</div>-->
					<!--<div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">-->
						<!--<a class="btn btn-success filters-button" style="background: #00897b; "ng-click="filterTable()">-->
							<!--<span class="glyphicon glyphicon-filter"></span> Filter Table-->
						<!--</a>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="row" style="padding-left: 10px">-->
					<!--<div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 no-padding leftLabelForm">-->
						<!--Year:-->
					<!--</div>-->
					<!--<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">-->
						<!--<input class="filter-input" type="number" string-to-number name="yearMin" min="1850" max="2017"-->
							   <!--ng-model="minYearFilter" style="min-width: 132px;">-->
					<!--</div>-->
					<!--<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">-</div>-->
					<!--<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">-->
						<!--<input class="filter-input" type="number" string-to-number name="yearMax" min="{{minYearFilter}}" max="2017"-->
							   <!--ng-model="maxYearFilter" style="min-width: 132px;">-->
					<!--</div>-->
					<!--<div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">-->
						<!--<a class="btn btn-warning filters-button" ng-click="resetScaleYearFilters()">-->
							<!--<span class="glyphicon glyphicon-trash"></span> Clear Filters-->
						<!--</a>-->
					<!--</div>-->
				<!--</div>-->

					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-group btn-group-justified" role="group" aria-label="...">
							<a class="btn btn-success filters-button" style="background: #00897b;" ng-click="selectAll()">
								<span class="glyphicon glyphicon-ok"></span> Select All
							</a>
							<a class="btn btn-success filters-button" style="background: #00897b;" ng-click="clearAll()">
								<span class="glyphicon glyphicon-trash"></span> Clear
							</a>
							<a class="btn btn-success filters-button" style="background: #00897b;" ng-click="DownloadMaps()">
								<span class="glyphicon glyphicon-arrow-down"></span> Download
							</a>
							<a class="btn btn-success filters-button" style="background: #00897b;" ng-click="Search()">
								<span class="glyphicon glyphicon-search"></span> Search Again
							</a>
						</div>
					</div>
					<div class="row table-row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div id="grid" ui-grid="gridOptions" class="grid" style="overflow: auto; height: 470px;"
								 ui-grid-selection ui-grid-resize-columns></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 containerMap">
				<div class="upperMap">
					<p class="mapTittle">Place the rectangle on the map or choose from the coordinates below</p>
				</div>
				<div ng-controller="mapCntlr">
					<div class="form-group row">
						<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 disablePaddingRight">
								<p class="itmTittle">ITM - Israel Transverse Mercator:</p>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<label class="leftLabelForm">easting:</label>
						    		<input id="itmxID" value="" type="number" string-to-number class="form-control rightNumberForm" ng-model="itmx" ng-change="updateValues('itm')" step="100">	
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 disablePaddingRight">
									<label class="leftLabelForm">northing:</label>
						    		<input id="itmyID" value="" type="number" string-to-number class="form-control rightNumberForm" ng-model="itmy" ng-change="updateValues('itm')" step="1000">	
								</div>
						</div>
						<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 disablePaddingRight" style="padding-top: 5px;">
								<p class="itmTittle">WGS80 - World Geocoding System</p>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<label class="leftLabelForm">longitude:</label>
						    		<input id="wgsxID" value="" type="number" string-to-number class="form-control rightNumberForm" ng-model="wgsNE" ng-change="updateValues('wgs')" step="0.01">
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 disablePaddingRight">
									<label class="leftLabelForm">latitude:</label>
						    		<input id="wgsyID" value="" type="number" string-to-number class="form-control rightNumberForm" ng-model="wgsSW" ng-change="updateValues('wgs')" step="0.01">
								</div>
						</div>
					</div>									
					<div class="mapHeight col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<map-canvas id="map"></map-canvas>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 
		<script type="text/javascript">
						// This example adds a user-editable rectangle to the map.
						// When the user changes the bounds of the rectangle,
						// an info window pops up displaying the new bounds.

						var rectangle;
						var map;
						var Israel;

						function initMap() {

							Israel = new google.maps.LatLng(31.768319, 35.21370999999999);

							map = new google.maps.Map(document.getElementById('map'), {
							center: Israel,
							zoom: 8
							});

							var bounds = {
							north: 31.78,
							south: 31.08,
							east: 35.12,
							west: 34.74
							};


						    console.log(Israel.lat());

						    console.log(Israel.lng());

							// Define the rectangle and set its editable property to true.
							rectangle = new google.maps.Rectangle({
								bounds: bounds,
								editable: true,
								draggable: true
							});

							rectangle.setMap(map);

							// Add an event listener on the rectangle.
							rectangle.addListener('bounds_changed', showNewRect);
						}

							/** @this {google.maps.Rectangle} */
						function showNewRect(event) {
							var ne = rectangle.getBounds().getNorthEast();
							var sw = rectangle.getBounds().getSouthWest();

							document.getElementById('north').value = ne.lat();
							document.getElementById('east').value = ne.lng();
							document.getElementById('south').value = sw.lat();
							document.getElementById('west').value = sw.lng();				 
						}

						document.addEventListener('input', function (evt) {
							var north = parseFloat(document.getElementById('north').value);
							var south = parseFloat(document.getElementById('south').value);
							var east = parseFloat(document.getElementById('east').value);
							var west = parseFloat(document.getElementById('west').value);

					    	if (!isNaN(north) && !isNaN(south) && !isNaN(west) && !isNaN(east)) {
								var NE = new google.maps.LatLng(north, east);
								var SW = new google.maps.LatLng(south, west);
								var newRect = new google.maps.LatLngBounds(SW,NE);
								rectangle.setBounds(newRect);
								map.fitBounds(newRect);
							}
						});
						


						</script> -->