<div ng-init="rowStyle={'height':'30px','background':'white','border-right':'white','border-bottom': '1px #C6C6C6 solid'}"
     ng-mouseover="rowStyle={'height': '30px','background-color': '#F2F2F2', 'border-right':'1px #F2F2F2 solid', 'border-bottom': '1px #C6C6C6 solid'}; grid.appScope.onRowHover(this);"
     ng-mouseleave="rowStyle={'height': '30px','background': 'white','border-right': 'white','border-bottom': '1px #C6C6C6 solid'}"
     ng-style="selectedStyle={'height':'30px','background-color': (row.isSelected) ? '#E7F6F5' : '','border-right': '#E7F6F5','border-bottom': '1px #C6C6C6 solid'}">
    <div  ng-style="(!row.isSelected) ? rowStyle : selectedStyle"
          ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid"
          ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'"
          class="ui-grid-cell" ng-class="{ 'ui-grid-row-header-cell': col.isRowHeader }"
          role="{{col.isRowHeader ? 'rowheader' : 'gridcell'}}" ui-grid-cell>
    </div>
</div>